/* Header */
.title {
  font-size: 2rem;
  font-weight: bolder;
}

/* .whiteLink {
  color: white;
  text-decoration: none;
}

.whiteLink:hover {
  color: lightgray;
} */

.selected {
  text-decoration: underline;
  color: brown;
  border-bottom: 5px solid currentColor;
}

/* Board */
.card-image {
  object-fit: contain;
  width: 100px;
  height: 200px;
}

.card-image:hover {
  cursor: pointer;
}

.beer-card:hover {
  box-shadow: 5px 5px lightgray;
}

.text-bold-orange {
  color: #ff8000;
  font-weight: bold;
}
